## Constants

In [290]:
# DATASET_PATH = 'datasets/1000sample2015.csv' # Using the small dataset for now
DATASET_PATH = 'datasets/2015.csv'
CLEANED_DATASET_PATH = 'datasets/2015-cleaned.csv'
FEATURES_JSON_PATH = 'datasets/features-small.json'

## Imports

In [176]:
import googleapiclient.discovery
import json
import numpy as np
import os
import pandas as pd
import pickle
import pprint as pp
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib
from sklearn.feature_selection import SelectKBest
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import Imputer
from fancyimpute import KNN as imputeKNN

## Data cleaning

In [287]:
with open(FEATURES_JSON_PATH, 'r') as file:
    features_json = json.loads(file.read())

# usecols: filter to only columns we want
with open(DATASET_PATH, 'r') as file:
#     raw_data = pd.read_csv(file, dtype=np.float32, usecols=features_json.keys(), nrows=50)
    raw_data = pd.read_csv(file, dtype=np.float32, usecols=features_json.keys())

# Fill invalid values with NaNs for imputation
raw_data_new = raw_data.copy()
for title, ser in raw_data.iteritems():
    invalid_vals = []
    
    # Build invalid values to be replaced
    for option in features_json[title]["options"]:
        if not option['valid']:
            invalid_vals.append(np.float32(option['value']))
    
    # Replace invalid values
    ser_new = ser.copy()
    for i, d in ser.iteritems():
        if d in invalid_vals:
            ser_new[i] = 'NaN'
    
    # Update dataframe
    raw_data_new[title] = ser_new
raw_data = raw_data_new

# Impute NaNs with random sample from column
for title, ser in raw_data.iteritems():
    ser_sample = ser.dropna()
    ser_new = ser.copy()
    for i, d in ser.iteritems():
        if np.isnan(d):
            ser_new[i] = ser_sample.sample()
            
    raw_data_new[title] = ser_new
raw_data = raw_data_new

# Cast floats to ints
raw_data_new = raw_data.astype(np.int32) # Make it all ints
raw_data = raw_data_new

# Update datatypes
for title, ser in raw_data.iteritems():
    if features_json[title]['type'] == 'discrete':
        ser_new = ser.astype('category')
    elif features_json[title]['type'] == 'boolean':
        bool_map = {1: True, 2: False}
        ser_new = ser.map(bool_map)
        ser_new = ser_new.astype('bool')
    elif features_json[title]['type'] == 'continuous':
        ser_new = ser
        # Already np.int32
    raw_data_new[title] = ser_new
raw_data = raw_data_new

# raw_data
df = raw_data
df

,CVDINFR4,CHCSCNCR,CHCOCNCR,ADDEPEV2,DIABETE3,SEX,_RACEGR3,_AGE_G,HTM4,WTKG3,_INCOMG,_SMOKER3
0,False,False,False,True,3,2,1,5,178,12701,2,3
1,False,False,False,False,3,2,1,4,173,7484,1,1
2,False,False,True,False,3,2,1,6,180,7167,2,3
3,False,False,True,True,3,2,1,5,170,8165,5,4
4,False,False,False,False,3,2,1,5,163,6441,5,4
5,False,False,False,False,3,2,1,6,157,6577,4,4
6,False,False,False,False,3,2,4,6,168,6713,2,4
7,False,False,False,False,3,1,1,6,155,8119,2,3
8,False,False,False,False,3,2,1,6,160,3810,2,4
9,False,False,False,False,3,1,1,6,170,7303,5,3
10,False,False,False,False,3,2,1,5,163,7938,5,3
11,False,True,True,False,1,2,1,6,163,6804,5,4
12,False,True,True,False,1,2,1,6,155,7257,3,3
13,False,False,False,False,3,2,1,6,168,6350,5,4
14,False,False,False,False,3,2,1,6,170,7711,5,4
15,False,True,False,False,3,2,1,6,152,5806,2,1
16,True,False,True,True,1,2,1,5,173,9072,1,1
17,False,True,False,False,3,1,1,6,178,8074,5,1
18,False,True,False,False,3,2,1,6,165,7031,1,4
19,False,False,False,True,3,1,1,5,175,7394,2,4
20,True,False,False,False,3,1,4,6,170,7711,2,3
21,False,True,False,False,1,1,1,6,178,7802,5,3
22,False,False,True,False,3,2,1,6,163,9072,1,2
23,True,False,False,False,3,1,1,6,168,8618,2,3
24,True,False,False,True,1,1,1,5,183,9525,2,3
25,False,True,True,False,3,2,1,6,157,6577,2,4
26,False,False,False,True,3,2,1,5,170,6804,1,1
27,False,False,False,True,3,1,1,4,152,11793,1,4
28,False,False,False,False,3,1,1,5,183,7938,4,4
29,False,False,False,False,3,1,1,6,185,4944,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
441426,False,False,False,False,3,2,5,3,160,5897,1,4
441427,False,False,False,False,4,2,5,4,163,7711,2,1
441428,False,False,False,True,3,2,5,3,165,4763,1,4
441429,False,False,False,True,4,2,5,4,157,5670,1,4
441430,False,False,False,False,3,1,5,3,173,8709,3,4
441431,False,False,False,False,3,2,5,6,157,6895,5,3
441432,True,False,False,False,1,1,5,6,168,8165,4,1
441433,False,False,False,True,1,1,5,5,170,8391,1,4
441434,False,False,False,False,3,1,5,1,183,12701,3,1
441435,False,False,False,True,3,1,5,4,168,7666,2,4
441436,True,False,True,False,1,2,5,6,163,6577,2,4
441437,False,False,False,False,3,1,5,4,183,8255,1,4
441438,False,False,False,False,3,2,5,1,163,4717,2,4
441439,False,False,False,False,1,2,5,6,152,5897,4,4
441440,False,False,False,False,3,1,5,5,163,6350,1,1
441441,False,False,False,False,3,1,5,5,183,10433,2,4
441442,True,False,False,True,3,1,5,5,168,6577,1,4
441443,False,False,False,False,3,2,5,2,160,5897,1,1
441444,False,False,False,True,3,1,5,1,180,8618,4,4
441445,False,False,False,False,3,1,5,6,191,9979,5,4
441446,True,False,True,False,3,1,5,6,175,9072,1,3
441447,False,False,False,False,3,1,5,4,180,9934,1,1
441448,False,False,False,True,3,1,5,2,170,12247,5,4
441449,False,False,False,False,3,2,5,2,168,7711,3,4
441450,False,False,False,False,3,1,5,3,191,16329,5,4
441451,False,False,False,False,1,2,5,6,160,4717,2,4
441452,False,False,False,False,3,2,5,2,160,7257,1,4
441453,False,False,True,False,3,2,5,6,165,11204,3,3
441454,False,False,False,False,3,1,5,4,180,7530,1,4
441455,True,True,False,False,1,2,5,5,157,6123,1,4

In [291]:
with open(CLEANED_DATASET_PATH, 'w') as file:
    df.to_csv(file)

In [293]:
with open(CLEANED_DATASET_PATH, 'r') as file:
    df = pd.read_csv(file, index_col=0)
df

,CVDINFR4,CHCSCNCR,CHCOCNCR,ADDEPEV2,DIABETE3,SEX,_RACEGR3,_AGE_G,HTM4,WTKG3,_INCOMG,_SMOKER3
0,False,False,False,True,3,2,1,5,178,12701,2,3
1,False,False,False,False,3,2,1,4,173,7484,1,1
2,False,False,True,False,3,2,1,6,180,7167,2,3
3,False,False,True,True,3,2,1,5,170,8165,5,4
4,False,False,False,False,3,2,1,5,163,6441,5,4
5,False,False,False,False,3,2,1,6,157,6577,4,4
6,False,False,False,False,3,2,4,6,168,6713,2,4
7,False,False,False,False,3,1,1,6,155,8119,2,3
8,False,False,False,False,3,2,1,6,160,3810,2,4
9,False,False,False,False,3,1,1,6,170,7303,5,3
10,False,False,False,False,3,2,1,5,163,7938,5,3
11,False,True,True,False,1,2,1,6,163,6804,5,4
12,False,True,True,False,1,2,1,6,155,7257,3,3
13,False,False,False,False,3,2,1,6,168,6350,5,4
14,False,False,False,False,3,2,1,6,170,7711,5,4
15,False,True,False,False,3,2,1,6,152,5806,2,1
16,True,False,True,True,1,2,1,5,173,9072,1,1
17,False,True,False,False,3,1,1,6,178,8074,5,1
18,False,True,False,False,3,2,1,6,165,7031,1,4
19,False,False,False,True,3,1,1,5,175,7394,2,4
20,True,False,False,False,3,1,4,6,170,7711,2,3
21,False,True,False,False,1,1,1,6,178,7802,5,3
22,False,False,True,False,3,2,1,6,163,9072,1,2
23,True,False,False,False,3,1,1,6,168,8618,2,3
24,True,False,False,True,1,1,1,5,183,9525,2,3
25,False,True,True,False,3,2,1,6,157,6577,2,4
26,False,False,False,True,3,2,1,5,170,6804,1,1
27,False,False,False,True,3,1,1,4,152,11793,1,4
28,False,False,False,False,3,1,1,5,183,7938,4,4
29,False,False,False,False,3,1,1,6,185,4944,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
441426,False,False,False,False,3,2,5,3,160,5897,1,4
441427,False,False,False,False,4,2,5,4,163,7711,2,1
441428,False,False,False,True,3,2,5,3,165,4763,1,4
441429,False,False,False,True,4,2,5,4,157,5670,1,4
441430,False,False,False,False,3,1,5,3,173,8709,3,4
441431,False,False,False,False,3,2,5,6,157,6895,5,3
441432,True,False,False,False,1,1,5,6,168,8165,4,1
441433,False,False,False,True,1,1,5,5,170,8391,1,4
441434,False,False,False,False,3,1,5,1,183,12701,3,1
441435,False,False,False,True,3,1,5,4,168,7666,2,4
441436,True,False,True,False,1,2,5,6,163,6577,2,4
441437,False,False,False,False,3,1,5,4,183,8255,1,4
441438,False,False,False,False,3,2,5,1,163,4717,2,4
441439,False,False,False,False,1,2,5,6,152,5897,4,4
441440,False,False,False,False,3,1,5,5,163,6350,1,1
441441,False,False,False,False,3,1,5,5,183,10433,2,4
441442,True,False,False,True,3,1,5,5,168,6577,1,4
441443,False,False,False,False,3,2,5,2,160,5897,1,1
441444,False,False,False,True,3,1,5,1,180,8618,4,4
441445,False,False,False,False,3,1,5,6,191,9979,5,4
441446,True,False,True,False,3,1,5,6,175,9072,1,3
441447,False,False,False,False,3,1,5,4,180,9934,1,1
441448,False,False,False,True,3,1,5,2,170,12247,5,4
441449,False,False,False,False,3,2,5,2,168,7711,3,4
441450,False,False,False,False,3,1,5,3,191,16329,5,4
441451,False,False,False,False,1,2,5,6,160,4717,2,4
441452,False,False,False,False,3,2,5,2,160,7257,1,4
441453,False,False,True,False,3,2,5,6,165,11204,3,3
441454,False,False,False,False,3,1,5,4,180,7530,1,4
441455,True,True,False,False,1,2,5,5,157,6123,1,4

In [308]:
smoker_current = ((df['_SMOKER3'] == 1) | (df['_SMOKER3'] == 2))
smoker_all = ((df['_SMOKER3'] == 1) | (df['_SMOKER3'] == 2) | (df['_SMOKER3'] == 3))
cancer = (df['CHCOCNCR'])

def risk_ratio(x, y):
    x_true = df[x & y].shape[0] / df[x].shape[0]
    x_false = df[~x & y].shape[0] / df[~x].shape[0]
    x_risk = x_true / x_false
    return x_risk

# df[smoker & cancer].shape[0] # Count

print(risk_ratio(smoker_current, cancer))
print(risk_ratio(smoker_all, cancer))

0.8598613649203296
1.3908006783885283