In [182]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [183]:
df = pd.read_csv('1000sample2015.csv')

In [184]:
df1 = df[['_AGEG5YR', 'HTM4', 'WTKG3', 'SEX', 'MARITAL', 'EDUCA', 'EMPLOY1', '_INCOMG', 'RENTHOM1', 'VETERAN3', 'DRNK3GE5', '_SMOKER3', '_MRACE1', '_STATE', 'BPHIGH4', 'TOLDHI2', 'CVDINFR4', 'CVDCRHD4', 'ASTHMA3', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD1', 'HAVARTH3', 'ADDEPEV2', 'CHCKIDNY', 'DIABETE3']]
df1.columns = ['age_group', 'height_cm', 'weight_kg', 'sex', 'married', 'education', 'employment', 'income', 'own_home', 'veteran', 'alchohol', 'smoke', 'race', 'state', 'high_blood_pressure', 'high_blood_cholestrol', 'heart_attack', 'angina', 'asthma', 'skin_cancer', 'other_cancer', 'Chronic_Obstructive_Pulmonary_Disease', 'arthritis', 'depression', 'kidney_disease', 'diabetes']
df1.fillna(-1, inplace = True)
df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10.0,170.0,9934.0,1.0,1.0,5.0,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11.0,157.0,6804.0,2.0,1.0,5.0,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11.0,173.0,8528.0,1.0,1.0,5.0,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2.0,-1.0,-1.0,1.0,5.0,4.0,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11.0,152.0,7711.0,2.0,3.0,4.0,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [185]:
# age _AGEG5YR
age = []

for index in range(len(df1)):
    if (df1['age_group'][index] == 14.0):
        age.append(-1)
    else:
        age.append((int) (df1['age_group'][index]))
df1['age_group'] = age
        
df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170.0,9934.0,1.0,1.0,5.0,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157.0,6804.0,2.0,1.0,5.0,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173.0,8528.0,1.0,1.0,5.0,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1.0,-1.0,1.0,5.0,4.0,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152.0,7711.0,2.0,3.0,4.0,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [186]:
# height_cm HTM4
height = []
for index in range(len(df1)):
    height.append((int) (df1['height_cm'][index]))
df1['height_cm'] = height

'''
df1.sort_values('height_cm', inplace = True)
df1.reset_index(drop = True)
height2 = []
for index in range(len(df1)):
    if df1['height_cm'][index] == -1:
        height2.append(-1)
    elif index < (int) (len(df1) * 0.1):
        height2.append(1)
    elif index >= (int) (len(df1) * 0.1) and index < (int) (len(df1) * 0.2):
        height2.append(2)
    elif index >= (int) (len(df1) * 0.2) and index < (int) (len(df1) * 0.3):
        height2.append(3)
    elif index >= (int) (len(df1) * 0.3) and index < (int) (len(df1) * 0.4):
        height2.append(4)
    elif index >= (int) (len(df1) * 0.4) and index < (int) (len(df1) * 0.5):
        height2.append(5)
    elif index >= (int) (len(df1) * 0.5) and index < (int) (len(df1) * 0.6):
        height2.append(6)
    elif index >= (int) (len(df1) * 0.6) and index < (int) (len(df1) * 0.7):
        height2.append(7)
    elif index >= (int) (len(df1) * 0.7) and index < (int) (len(df1) * 0.8):
        height2.append(8)
    elif index >= (int) (len(df1) * 0.8) and index < (int) (len(df1) * 0.9):
        height2.append(9)
    else:
        height2.append(10)
        
df1['height_cm'] = height2'''

df1['height_cm'].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

"\ndf1.sort_values('height_cm', inplace = True)\ndf1.reset_index(drop = True)\nheight2 = []\nfor index in range(len(df1)):\n    if df1['height_cm'][index] == -1:\n        height2.append(-1)\n    elif index < (int) (len(df1) * 0.1):\n        height2.append(1)\n    elif index >= (int) (len(df1) * 0.1) and index < (int) (len(df1) * 0.2):\n        height2.append(2)\n    elif index >= (int) (len(df1) * 0.2) and index < (int) (len(df1) * 0.3):\n        height2.append(3)\n    elif index >= (int) (len(df1) * 0.3) and index < (int) (len(df1) * 0.4):\n        height2.append(4)\n    elif index >= (int) (len(df1) * 0.4) and index < (int) (len(df1) * 0.5):\n        height2.append(5)\n    elif index >= (int) (len(df1) * 0.5) and index < (int) (len(df1) * 0.6):\n        height2.append(6)\n    elif index >= (int) (len(df1) * 0.6) and index < (int) (len(df1) * 0.7):\n        height2.append(7)\n    elif index >= (int) (len(df1) * 0.7) and index < (int) (len(df1) * 0.8):\n        height2.append(8)\n    elif index >= (int) (len(df1) * 0.8) and index < (int) (len(df1) * 0.9):\n        height2.append(9)\n    else:\n        height2.append(10)\n        \ndf1['height_cm'] = height2"

array([170, 157, 173,  -1, 152, 178, 168, 165, 155, 163, 160, 183, 180,
       175, 193, 191, 185, 147, 188, 140, 150, 196, 145, 137], dtype=int64)

In [187]:
height2

[1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 -1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 -1,
 2,
 2,
 2,
 -1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 -1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 -1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 -1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 -1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 -1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 -1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 -1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 -1,
 5,
 5,
 5,
 5,
 5,
 -1,
 5,
 5,
 5,
 5,
 5,
 5,
 -1,
 5,
 5,
 5,
 -1,
 5,
 -1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 -1,
 6,
 6,
 6,
 -1,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 -1,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 -1,
 7,
 -1,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 -1,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 -1,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 -1,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 -1,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 -1,
 -1,
 10,
 -1,
 10,
 -1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 -1,
 10,
 10,
 10,
 10,
 -1,
 10,
 -1,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10]

In [188]:
# weight WTKG3
weight = []
for index in range(len(df1)):
    if df1['weight_kg'][index] == -1.0:
        weight.append(-1)
    elif df1['weight_kg'][index] == 99999.0:
        weight.append(-1)
    else:
        weight.append((int) (df1['weight_kg'][index] / 100))
df1['weight_kg'] = weight

'''
df1 = df1.sort_values('weight_kg')
df1.reset_index(drop = True)
weight = []
for index in range(len(df1)):
    if df1['weight_kg'][index] == -1:
        weight.append(-1)
    elif index < (int) (len(df1) * 0.1):
        weight.append(1)
    elif index >= (int) (len(df1) * 0.1) and index < (int) (len(df1) * 0.2):
        weight.append(2)
    elif index >= (int) (len(df1) * 0.2) and index < (int) (len(df1) * 0.3):
        weight.append(3)
    elif index >= (int) (len(df1) * 0.3) and index < (int) (len(df1) * 0.4):
        weight.append(4)
    elif index >= (int) (len(df1) * 0.4) and index < (int) (len(df1) * 0.5):
        weight.append(5)
    elif index >= (int) (len(df1) * 0.5) and index < (int) (len(df1) * 0.6):
        weight.append(6)
    elif index >= (int) (len(df1) * 0.6) and index < (int) (len(df1) * 0.7):
        weight.append(7)
    elif index >= (int) (len(df1) * 0.7) and index < (int) (len(df1) * 0.8):
        weight.append(8)
    elif index >= (int) (len(df1) * 0.8) and index < (int) (len(df1) * 0.9):
        weight.append(9)
    else:
        weight.append(10)
df1['weight_kg'] = weight'''

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

"\ndf1 = df1.sort_values('weight_kg')\ndf1.reset_index(drop = True)\nweight = []\nfor index in range(len(df1)):\n    if df1['weight_kg'][index] == -1:\n        weight.append(-1)\n    elif index < (int) (len(df1) * 0.1):\n        weight.append(1)\n    elif index >= (int) (len(df1) * 0.1) and index < (int) (len(df1) * 0.2):\n        weight.append(2)\n    elif index >= (int) (len(df1) * 0.2) and index < (int) (len(df1) * 0.3):\n        weight.append(3)\n    elif index >= (int) (len(df1) * 0.3) and index < (int) (len(df1) * 0.4):\n        weight.append(4)\n    elif index >= (int) (len(df1) * 0.4) and index < (int) (len(df1) * 0.5):\n        weight.append(5)\n    elif index >= (int) (len(df1) * 0.5) and index < (int) (len(df1) * 0.6):\n        weight.append(6)\n    elif index >= (int) (len(df1) * 0.6) and index < (int) (len(df1) * 0.7):\n        weight.append(7)\n    elif index >= (int) (len(df1) * 0.7) and index < (int) (len(df1) * 0.8):\n        weight.append(8)\n    elif index >= (int) (len(df1) * 0.8) and index < (int) (len(df1) * 0.9):\n        weight.append(9)\n    else:\n        weight.append(10)\ndf1['weight_kg'] = weight"

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1.0,1.0,5.0,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2.0,1.0,5.0,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1.0,1.0,5.0,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1.0,5.0,4.0,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2.0,3.0,4.0,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [189]:
# sex SEX
sex = []

for index in range(len(df1)):
    if df1['sex'][index] == 9.0:
        sex.append(-1)
    else:
        sex.append((int) (df1['sex'][index]))
df1['sex'] = sex

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1.0,5.0,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1.0,5.0,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1.0,5.0,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5.0,4.0,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3.0,4.0,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [190]:
# married MARITAL
mary = []

for index in range(len(df1)):
    if df1['married'][index] == 9.0:
        mary.append(-1)
    else:
        mary.append((int) (df1['married'][index]))
df1['married'] = mary

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5.0,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5.0,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5.0,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4.0,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4.0,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [191]:
# education EDUCA
edu = []

for index in range(len(df1)):
    if df1['education'][index] == 9.0:
        edu.append(-1)
    else:
        edu.append((int) (df1['education'][index]))
df1['education'] = edu

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7.0,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5,7.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5,7.0,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4,1.0,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4,7.0,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [192]:
# employment EMPLOY1
emp = []

for index in range(len(df1)):
    if df1['employment'][index] == 9.0:
        emp.append(-1)
    else:
        emp.append((int) (df1['employment'][index]))
df1['employment'] = emp

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7,5.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5,7,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5,7,4.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4,1,9.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4,7,2.0,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [193]:
# income _INCOMG
income = []

for index in range(len(df1)):
    if df1['income'][index] == 9.0:
        income.append(-1)
    else:
        income.append((int) (df1['income'][index]))
df1['income'] = income

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7,5,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5,7,-1,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5,7,4,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4,1,-1,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4,7,2,1.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [194]:
# own_home RENTHOM1
own = []

for index in range(len(df1)):
    if df1['own_home'][index] == 9.0:
        own.append(-1)
    elif df1['own_home'][index] == 7.0:
        own.append(-1)
    else:
        own.append((int) (df1['own_home'][index]))
df1['own_home'] = own

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7,5,1,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5,7,-1,1,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5,7,4,1,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4,1,-1,1,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4,7,2,1,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [195]:
# veteran VETERAN3
vet = []

for index in range(len(df1)):
    if df1['veteran'][index] == 9.0:
        vet.append(-1)
    elif df1['veteran'][index] == 7.0:
        vet.append(-1)
    else:
        vet.append((int) (df1['veteran'][index]))
df1['veteran'] = vet

df1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7,5,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1,11,157,68,2,1,5,7,-1,1,2,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
2,11,173,85,1,1,5,7,4,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
3,2,-1,-1,1,5,4,1,-1,1,2,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
4,11,152,77,2,3,4,7,2,1,2,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0

In [196]:
# alchohol DRNK3GE5
drink = []

for index in range(len(df1)):
    if df1['alchohol'][index] == 88.0:
        drink.append(0)
    elif df1['alchohol'][index] == 77.0:
        drink.append(-1)
    elif df1['alchohol'][index] == 9.0:
        drink.append(-1)
    else:
        drink.append((int) (df1['alchohol'][index]))
df1['alchohol'] = drink

df1['alchohol'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

0   -1
1   -1
2   -1
3   -1
4   -1
Name: alchohol, dtype: int64

In [197]:
# smoke _SMOKER3
smoke = []

for index in range(len(df1)):
    if df1['smoke'][index] == 9.0:
        smoke.append(-1)
    else:
        smoke.append((int) (df1['smoke'][index]))
df1['smoke'] = smoke

df1['smoke'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

0    4
1    4
2    3
3   -1
4    4
Name: smoke, dtype: int64

In [198]:
# race _MRACE1
race = []

for index in range(len(df1)):
    if df1['race'][index] == 77.0:
        race.append(-1)
    elif df1['race'][index] == 99.0:
        race.append(-1)
    else:
        race.append((int) (df1['race'][index]))
df1['race'] = race

df1['race'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    1
1    1
2    1
3    1
4    7
Name: race, dtype: int64

In [199]:
# state _STATE
state = []

for index in range(len(df1)):
    state.append((int) (df1['state'][index]))
df1['state'] = state

df1['state'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0     9
1    31
2    10
3    25
4     9
Name: state, dtype: int64

In [200]:
# high_blood_pressure BPHIGH4
pressure = []

for index in range(len(df1)):
    if df1['high_blood_pressure'][index] == 7.0:
        pressure.append(-1)
    elif df1['high_blood_pressure'][index] == 9.0:
        pressure.append(-1)
    else:
        pressure.append((int) (df1['high_blood_pressure'][index]))
df1['high_blood_pressure'] = pressure

df1['high_blood_pressure'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    1
1    1
2    3
3    3
4    1
Name: high_blood_pressure, dtype: int64

In [201]:
# high_blood_cholestrol TOLDHI2
cholestrol = []

for index in range(len(df1)):
    if df1['high_blood_cholestrol'][index] == 7.0:
        cholestrol.append(-1)
    elif df1['high_blood_cholestrol'][index] == 9.0:
        cholestrol.append(-1)
    else:
        cholestrol.append((int) (df1['high_blood_cholestrol'][index]))
df1['high_blood_cholestrol'] = cholestrol

df1['high_blood_cholestrol'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    1
1    1
2    1
3    2
4    2
Name: high_blood_cholestrol, dtype: int64

In [202]:
# heart_attack CVDINFR4
attack = []

for index in range(len(df1)):
    if df1['heart_attack'][index] == 7.0:
        attack.append(-1)
    elif df1['heart_attack'][index] == 9.0:
        attack.append(-1)
    else:
        attack.append((int) (df1['heart_attack'][index]))
df1['heart_attack'] = attack

df1['heart_attack'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: heart_attack, dtype: int64

In [203]:
# angina CVDCRHD4 
angina = []

for index in range(len(df1)):
    if df1['angina'][index] == 7.0:
        angina.append(-1)
    elif df1['angina'][index] == 9.0:
        angina.append(-1)
    else:
        angina.append((int) (df1['angina'][index]))
df1['angina'] = angina

df1['angina'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: angina, dtype: int64

In [204]:
# asthma ASTHMA3
asthma = []

for index in range(len(df1)):
    if df1['asthma'][index] == 7.0:
        asthma.append(-1)
    elif df1['asthma'][index] == 9.0:
        asthma.append(-1)
    else:
        asthma.append((int) (df1['asthma'][index]))
df1['asthma'] = asthma

df1['asthma'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: asthma, dtype: int64

In [205]:
# skin_cancer CHCSCNCR
sc = []

for index in range(len(df1)):
    if df1['skin_cancer'][index] == 7.0:
        sc.append(-1)
    elif df1['skin_cancer'][index] == 9.0:
        sc.append(-1)
    else:
        sc.append((int) (df1['skin_cancer'][index]))
df1['skin_cancer'] = sc

df1['skin_cancer'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: skin_cancer, dtype: int64

In [206]:
# other_cancer CHCOCNCR
oc = []

for index in range(len(df1)):
    if df1['other_cancer'][index] == 7.0:
        oc.append(-1)
    elif df1['other_cancer'][index] == 9.0:
        oc.append(-1)
    else:
        oc.append((int) (df1['other_cancer'][index]))
df1['other_cancer'] = oc

df1['other_cancer'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    1
Name: other_cancer, dtype: int64

In [207]:
# Chronic_Obstructive_Pulmonary_Disease CHCCOPD1
copd = []

for index in range(len(df1)):
    if df1['Chronic_Obstructive_Pulmonary_Disease'][index] == 7.0:
        copd.append(-1)
    elif df1['Chronic_Obstructive_Pulmonary_Disease'][index] == 9.0:
        copd.append(-1)
    else:
        copd.append((int) (df1['Chronic_Obstructive_Pulmonary_Disease'][index]))
df1['Chronic_Obstructive_Pulmonary_Disease'] = copd

df1['Chronic_Obstructive_Pulmonary_Disease'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: Chronic_Obstructive_Pulmonary_Disease, dtype: int64

In [208]:
# arthritis HAVARTH3
arthritis = []

for index in range(len(df1)):
    if df1['arthritis'][index] == 7.0:
        arthritis.append(-1)
    elif df1['arthritis'][index] == 9.0:
        arthritis.append(-1)
    else:
        arthritis.append((int) (df1['arthritis'][index]))
df1['arthritis'] = arthritis

df1['arthritis'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    1
1    1
2    1
3    2
4    2
Name: arthritis, dtype: int64

In [209]:
# depression ADDEPEV2
depression = []

for index in range(len(df1)):
    if df1['depression'][index] == 7.0:
        depression.append(-1)
    elif df1['depression'][index] == 9.0:
        depression.append(-1)
    else:
        depression.append((int) (df1['depression'][index]))
df1['depression'] = depression

df1['depression'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: depression, dtype: int64

In [210]:
# kidney_disease CHCKIDNY
kidney = []

for index in range(len(df1)):
    if df1['kidney_disease'][index] == 7.0:
        kidney.append(-1)
    elif df1['kidney_disease'][index] == 9.0:
        kidney.append(-1)
    else:
        kidney.append((int) (df1['kidney_disease'][index]))
df1['kidney_disease'] = kidney

df1['kidney_disease'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    2
1    2
2    2
3    2
4    2
Name: kidney_disease, dtype: int64

In [211]:
# diabetes DIABETE3
diabetes = []

for index in range(len(df1)):
    if df1['diabetes'][index] == 7.0:
        diabetes.append(-1)
    elif df1['diabetes'][index] == 9.0:
        diabetes.append(-1)
    else:
        diabetes.append((int) (df1['diabetes'][index]))
df1['diabetes'] = diabetes

df1['diabetes'].head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

0    1
1    3
2    3
3    3
4    3
Name: diabetes, dtype: int64

In [212]:
df1

,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,veteran,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,10,170,99,1,1,5,7,5,1,1,...,2,2,2,2,2,2,1,2,2,1
1,11,157,68,2,1,5,7,-1,1,2,...,2,2,2,2,2,2,1,2,2,3
2,11,173,85,1,1,5,7,4,1,1,...,2,2,2,2,2,2,1,2,2,3
3,2,-1,-1,1,5,4,1,-1,1,2,...,2,2,2,2,2,2,2,2,2,3
4,11,152,77,2,3,4,7,2,1,2,...,2,2,2,2,1,2,2,2,2,3
5,10,170,90,2,2,6,1,5,1,2,...,2,2,2,1,2,2,2,2,2,3
6,12,178,80,1,3,4,7,3,1,1,...,1,2,2,2,2,2,2,2,2,1
7,10,168,74,2,2,6,7,2,1,2,...,1,2,1,2,2,2,2,2,2,1
8,7,165,85,2,1,6,1,5,1,2,...,2,2,2,2,1,2,1,2,2,3
9,11,155,81,2,-1,3,7,3,1,2,...,2,2,2,2,2,2,1,2,2,3
10,1,168,61,2,5,5,6,-1,3,2,...,2,2,2,2,2,2,2,1,2,3
11,12,168,117,2,3,6,1,5,1,2,...,2,2,2,2,2,2,1,2,2,1
12,8,163,93,2,2,6,1,2,1,2,...,2,2,2,2,2,2,1,2,2,3
13,8,163,77,2,1,5,1,5,1,1,...,2,2,1,2,2,2,2,1,2,3
14,8,170,72,1,1,6,7,5,1,2,...,2,2,2,2,2,2,2,2,2,3
15,12,160,63,2,3,4,7,5,1,2,...,2,2,2,2,1,2,2,2,2,3
16,1,168,79,1,5,4,1,3,2,1,...,2,2,2,2,2,2,2,2,2,3
17,9,183,85,1,1,6,7,5,1,1,...,1,2,2,2,2,2,2,2,2,3
18,5,-1,63,2,1,2,5,-1,1,2,...,2,2,2,2,2,2,2,2,2,3
19,6,168,68,2,1,6,1,5,1,2,...,2,2,2,2,2,2,2,1,2,3
20,13,-1,54,2,3,5,8,1,2,2,...,1,1,2,2,2,2,1,2,2,4
21,-1,165,61,2,1,6,7,5,1,2,...,2,2,2,2,2,2,2,2,2,3
22,10,170,73,2,1,5,7,-1,1,2,...,2,2,2,2,1,2,1,1,2,1
23,4,173,81,1,1,5,3,2,1,1,...,2,2,2,2,2,2,2,2,2,3
24,6,180,72,1,1,5,1,5,1,1,...,2,2,2,2,2,2,2,2,2,3
25,10,183,90,1,1,6,7,-1,1,1,...,2,2,2,2,2,2,2,2,2,3
26,6,173,59,2,1,6,1,5,1,2,...,2,2,2,2,2,2,2,2,2,3
27,10,173,90,2,2,6,4,5,1,2,...,2,2,1,2,2,2,2,1,1,1
28,9,163,86,2,1,4,8,-1,1,2,...,2,2,2,2,2,2,1,1,2,1
29,8,170,90,2,1,4,1,5,2,2,...,2,2,2,2,2,2,1,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,12,170,90,1,1,5,7,-1,1,1,...,1,1,1,1,1,1,1,1,1,1
971,6,150,72,2,5,6,1,-1,1,2,...,2,2,2,2,2,2,2,1,2,3
972,5,165,86,2,1,5,1,5,1,2,...,2,2,2,2,2,2,2,2,2,3
973,3,170,78,2,1,5,5,5,1,2,...,2,2,2,2,2,2,2,2,2,3
974,2,180,68,1,5,4,4,-1,3,2,...,2,2,2,2,2,2,2,1,2,3
975,13,155,56,2,3,6,7,2,2,2,...,2,2,2,1,2,2,2,2,2,3
976,11,152,70,2,1,2,5,-1,2,2,...,2,1,2,2,2,2,2,2,2,1
977,2,173,72,1,5,6,1,5,2,2,...,2,2,1,2,2,2,2,2,2,3
978,12,155,68,2,1,6,7,4,1,2,...,2,1,2,2,2,1,1,2,2,1
979,10,163,61,2,1,5,7,-1,1,2,...,2,2,1,2,2,2,1,2,2,3
980,5,163,55,2,1,4,2,5,1,2,...,2,2,2,2,2,2,2,2,2,3
981,5,160,104,2,1,6,5,5,1,2,...,2,2,2,2,2,2,2,1,2,1
982,10,180,108,1,1,6,7,4,1,2,...,2,2,2,2,2,2,1,2,2,1
983,10,155,63,2,1,5,7,-1,1,2,...,2,2,2,-1,2,2,2,2,2,3
984,13,163,38,2,3,6,7,4,1,2,...,2,2,2,1,1,2,1,1,2,3
985,9,173,68,2,2,6,1,4,1,2,...,2,2,2,2,2,2,2,2,2,3
986,8,152,60,2,2,2,-1,-1,-1,2,...,2,2,2,2,2,2,1,2,2,3
987,8,183,96,1,1,6,2,5,1,2,...,2,2,2,2,2,2,2,2,2,3
988,10,178,115,1,1,6,7,1,2,2,...,1,1,2,2,2,2,1,1,2,1
989,9,160,95,2,1,4,1,5,1,2,...,2,2,2,2,2,2,1,2,2,3
990,8,168,97,1,1,6,1,5,2,1,...,2,2,2,2,2,2,1,2,2,3
991,11,188,102,1,1,6,7,5,1,1,...,2,2,2,1,1,2,1,2,2,3
992,10,163,56,2,1,6,5,-1,1,2,...,2,1,2,2,1,2,1,1,1,3
993,12,191,74,1,1,4,7,5,1,1,...,1,2,2,2,2,2,2,2,2,3
994,11,178,86,1,1,6,2,4,1,2,...,2,2,2,2,1,2,2,2,2,3
995,12,180,112,1,1,4,7,-1,1,1,...,1,2,2,2,2,2,1,2,2,1
996,10,163,131,2,1,6,7,5,1,2,...,2,2,2,2,1,2,1,2,2,1
997,11,165,68,2,1,5,1,5,1,2,...,2,2,2,2,1,2,2,2,2,3
998,10,163,99,2,2,4,7,1,2,2,...,2,2,2,2,2,2,1,1,2,1
999,12,165,81,2,1,5,7,5,1,2,...,2,2,2,1,1,2,2,2,2,3

In [213]:
df1['weight_kg'].unique()

array([ 99,  68,  85,  -1,  77,  90,  80,  74,  81,  61, 117,  93,  72,
        63,  79,  54,  73,  59,  86,  56,  98, 136,  97,  88,  84,  52,
        95,  58,  50,  69,  66, 104,  78, 103, 113, 122,  57,  70,  87,
        45,  53, 102, 131,  48, 111,  65, 227, 124, 145, 105,  83, 112,
        75,  64, 108, 106,  36, 147,  96, 133,  49, 129,  62, 231,  60,
        92,  67, 115,  91, 123,  71,  94,  55,  76,  89, 121, 158, 120,
        51, 139, 127, 100, 119,  44,  82,  43, 132, 138, 107,  47, 142,
       179,  38], dtype=int64)

In [214]:
df1.to_csv('1000_with_h&w_raw.csv')

In [215]:
df3 = pd.read_csv('1000_2015_cleaned.csv')
df3[]

,Unnamed: 0,age_group,height_cm,weight_kg,sex,married,education,employment,income,own_home,...,heart_attack,angina,asthma,skin_cancer,other_cancer,Chronic_Obstructive_Pulmonary_Disease,arthritis,depression,kidney_disease,diabetes
0,301,13,5,1,1,1,5,7,5,1,...,2,2,2,2,2,2,1,2,2,1
1,545,3,6,1,2,1,5,7,-1,1,...,2,2,2,2,2,2,1,2,2,3
2,563,10,3,1,1,1,5,7,4,1,...,2,2,2,2,2,2,1,2,2,3
3,957,9,9,1,1,5,4,1,-1,1,...,2,2,2,2,2,2,2,2,2,3
4,328,8,9,1,2,3,4,7,2,1,...,2,2,2,2,1,2,2,2,2,3
5,848,7,6,1,2,2,6,1,5,1,...,2,2,2,1,2,2,2,2,2,3
6,767,5,6,1,1,3,4,7,3,1,...,1,2,2,2,2,2,2,2,2,1
7,383,12,2,1,2,2,6,7,2,1,...,1,2,1,2,2,2,2,2,2,1
8,86,2,-1,1,2,1,6,1,5,1,...,2,2,2,2,1,2,1,2,2,3
9,151,11,-1,1,2,-1,3,7,3,1,...,2,2,2,2,2,2,1,2,2,3
10,516,9,7,1,2,5,5,6,-1,3,...,2,2,2,2,2,2,2,1,2,3
11,519,6,-1,1,2,3,6,1,5,1,...,2,2,2,2,2,2,1,2,2,1
12,470,6,-1,1,2,2,6,1,2,1,...,2,2,2,2,2,2,1,2,2,3
13,929,1,9,1,2,1,5,1,5,1,...,2,2,1,2,2,2,2,1,2,3
14,292,8,3,1,1,1,6,7,5,1,...,2,2,2,2,2,2,2,2,2,3
15,525,7,-1,1,2,3,4,7,5,1,...,2,2,2,2,1,2,2,2,2,3
16,329,12,9,1,1,5,4,1,3,2,...,2,2,2,2,2,2,2,2,2,3
17,126,9,6,1,1,1,6,7,5,1,...,1,2,2,2,2,2,2,2,2,3
18,358,11,-1,1,2,1,2,5,-1,1,...,2,2,2,2,2,2,2,2,2,3
19,917,2,10,1,2,1,6,1,5,1,...,2,2,2,2,2,2,2,1,2,3
20,451,9,6,1,2,3,5,8,1,2,...,1,1,2,2,2,2,1,2,2,4
21,161,6,10,1,2,1,6,7,5,1,...,2,2,2,2,2,2,2,2,2,3
22,718,13,-1,1,2,1,5,7,-1,1,...,2,2,2,2,1,2,1,1,2,1
23,708,11,-1,-1,1,1,5,3,2,1,...,2,2,2,2,2,2,2,2,2,3
24,239,3,-1,1,1,1,5,1,5,1,...,2,2,2,2,2,2,2,2,2,3
25,625,11,-1,1,1,1,6,7,-1,1,...,2,2,2,2,2,2,2,2,2,3
26,316,8,1,1,2,1,6,1,5,1,...,2,2,2,2,2,2,2,2,2,3
27,232,11,1,1,2,2,6,4,5,1,...,2,2,1,2,2,2,2,1,1,1
28,856,8,10,1,2,1,4,8,-1,1,...,2,2,2,2,2,2,1,1,2,1
29,720,13,-1,1,2,1,4,1,5,2,...,2,2,2,2,2,2,1,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,411,6,2,10,1,1,5,7,-1,1,...,1,1,1,1,1,1,1,1,1,1
971,975,13,2,10,2,5,6,1,-1,1,...,2,2,2,2,2,2,2,1,2,3
972,716,8,2,10,2,1,5,1,5,1,...,2,2,2,2,2,2,2,2,2,3
973,45,4,5,10,2,1,5,5,5,1,...,2,2,2,2,2,2,2,2,2,3
974,989,9,3,10,1,5,4,4,-1,3,...,2,2,2,2,2,2,2,1,2,3
975,456,10,4,10,2,3,6,7,2,2,...,2,2,2,1,2,2,2,2,2,3
976,284,5,10,10,2,1,2,5,-1,2,...,2,1,2,2,2,2,2,2,2,1
977,146,9,2,10,1,5,6,1,5,2,...,2,2,1,2,2,2,2,2,2,3
978,449,9,7,10,2,1,6,7,4,1,...,2,1,2,2,2,1,1,2,2,1
979,48,13,3,10,2,1,5,7,-1,1,...,2,2,1,2,2,2,1,2,2,3
980,436,6,3,10,2,1,4,2,5,1,...,2,2,2,2,2,2,2,2,2,3
981,495,-1,7,10,2,1,6,5,5,1,...,2,2,2,2,2,2,2,1,2,1
982,349,10,5,10,1,1,6,7,4,1,...,2,2,2,2,2,2,1,2,2,1
983,603,6,6,10,2,1,5,7,-1,1,...,2,2,2,-1,2,2,2,2,2,3
984,639,12,2,10,2,3,6,7,4,1,...,2,2,2,1,1,2,1,1,2,3
985,624,13,1,10,2,2,6,1,4,1,...,2,2,2,2,2,2,2,2,2,3
986,657,11,5,10,2,2,2,-1,-1,-1,...,2,2,2,2,2,2,1,2,2,3
987,119,10,3,10,1,1,6,2,5,1,...,2,2,2,2,2,2,2,2,2,3
988,847,13,6,10,1,1,6,7,1,2,...,1,1,2,2,2,2,1,1,2,1
989,854,5,7,10,2,1,4,1,5,1,...,2,2,2,2,2,2,1,2,2,3
990,514,9,5,10,1,1,6,1,5,2,...,2,2,2,2,2,2,1,2,2,3
991,410,1,6,10,1,1,6,7,5,1,...,2,2,2,1,1,2,1,2,2,3
992,406,13,9,10,2,1,6,5,-1,1,...,2,1,2,2,1,2,1,1,1,3
993,939,3,2,10,1,1,4,7,5,1,...,1,2,2,2,2,2,2,2,2,3
994,342,1,5,10,1,1,6,2,4,1,...,2,2,2,2,1,2,2,2,2,3
995,149,2,3,10,1,1,4,7,-1,1,...,1,2,2,2,2,2,1,2,2,1
996,654,13,5,10,2,1,6,7,5,1,...,2,2,2,2,1,2,1,2,2,1
997,752,8,10,10,2,1,5,1,5,1,...,2,2,2,2,1,2,2,2,2,3
998,978,12,2,10,2,2,4,7,1,2,...,2,2,2,2,2,2,1,1,2,1
999,164,7,3,10,2,1,5,7,5,1,...,2,2,2,1,1,2,2,2,2,3